# Virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# Logs
*.log

# Byte-compiled
*.pyd

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/