name: CI

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      shell: bash
      run: pip install -r requirements.txt

    - name: Run tests
      shell: bash
      run: pytest